@import "tailwindcss";

@theme {
  --color-auric-rose: #4A3131;
  --color-auric-gold: #C5A059;
  --color-auric-gold-hover: #A6864A;
  --color-auric-blush: #FDF2F0;
  --color-auric-accent: #EAB5AD;
  --color-auric-text: #2D1A1A;

  --font-serif: "Merriweather", "serif";
  --font-sans: "Inter", "sans-serif";
}

@layer base {
  body {
    background-color: var(--color-auric-blush);
    color: var(--color-auric-text);
    font-family: var(--font-sans);
  }
}