@import "tailwindcss";

@theme {
  --color-luxury-purple: #2D1B4E;
  --color-luxury-gold: #D4AF37;
  --color-luxury-gold-hover: #B5952F;
  --color-luxury-cream: #FDFBF7;
  --color-luxury-text: #1A1A1A;
  
  --font-serif: "Merriweather", "serif";
  --font-sans: "Inter", "sans-serif";
}

@layer base {
  body {
    background-color: var(--color-luxury-cream);
    color: var(--color-luxury-text);
    font-family: var(--font-sans);
  }
}